registry=http://192.168.1.78:31852/repository/sst-npm-group/
username=sst
email=609acoms.sst@afcent.af.mil
strict-ssl=false
always-auth=true
//192.168.1.78:31852/repository/sst-npm-group/:_authToken=NpmToken.586716e5-e582-3819-b3ad-91743e350f97