
  .btn-submit{
    text-align:center;
    justify-content: center;
  }

  .list-group-item{
    color: black
  }


  
  #label{
    color: black;
  }
 
  #login-id{
    display: block;
    text-align: center;
    justify-content: center;
    flex: auto;
  }
  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
  }
  #missionList {
    margin-left: 10rem;
  }
  #userList{
    margin-left: 10rem;
  }
  
