
  
  /* Main color palette styling for the application */

  .app-background{
    background-color:#3a4750;
  }
  .app-text{
    color: #eeeeee;
  }

  #msnlistcard{
    max-width: 400px;
  }

  #msnlistbody {
    background-color: #eeeeee;
    color: black
  }

  #msnlistheader {
    background-color: #3a4750;
    color: white;
  }

  #searchmsn {
    background-color:#d72323 ;
    color:white;
  }

  /* Styling for the navbar component */
  #navbar{
    background-color: #303841;
  }
  .nav-link{
    color: #d72323;
  }
  .nav-link:hover{
   
    color: #eeeeee;
  }
  .navbar-brand:hover{
    
   color:  #eeeeee;
  }
  #dropdown{
    background-color: #3a4750;
    
  }
  #user-Admin:hover{
    color: #d72323;
  }
  #data-Management:hover{
    color: #d72323;
  }
 
  .navbar-brand{
    
    color: #d72323;
  }
  .navbar-brand:focus{
    color: #d72323;
  }
  .nav-link:focus{
    color: #d72323;
  }
  
 


  /* Styling for the Profile component */
  #profile-text{
    color: #303841;
    text-align: center;

  }
  #jumbotron{
    background-color: #eeeeee;

  }

  /*Styling for the Data Management Component  */
  #data-Management-Component
  {
    background-color: #303841;
  }
  .dm{
    color: #eeeeee;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
  }
  .dm:hover{
    color: #d72323;
  }



  .btn-submit{
    text-align:center;
    justify-content: center;
  }

  .list-group-item{
    color: black
  }

  label{
    color: black;
    display: block;
    margin-top: 10px;
  }
 
  #login-id{
    display: block;
    text-align: center;
    justify-content: center;
    flex: auto;
  }
  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

  }

  #userList{
    margin-left: 10rem;
  }

  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  /* Login component styling */
  .card-container.card {
    max-width: 350px !important; 
    padding: 40px 40px;
    background-color: #eeeeee; 
  }


  #login-button{
    background-color: #303841;
    color: #eeeeee;
  }

  /* Airlift Mission Form styling */
  #Airlift-Mission-Form{
    background-color: #eeeeee;
  }
  #New-Leg{
    background-color: #d72323;

  }
  #Save-Mission{
    background-color: #d72323;
  }
  #Remove-Leg{
    background-color: #d72323;
  }
  /* Edit Airlift Mission Styling */
  #edit-Airlift-Mission{
    margin-top:.5rem;
    background-color: #eeeeee;
  }
  #edit-new{
    background-color:#d72323 ;
    color:white;
    
  }
  #edit-save{
    background-color:#d72323 ;
    color:white;
  }
  #edit-remove{
    background-color: #d72323;
    color:white;
  }
  .edit-Leg-Form{
    background-color: #eeeeee;
  }
  #leg-body{
    padding-bottom: 1rem;
  }
  
  

  #AddParameterCard{
    margin-top: 20rem;
  }

  .msninputtxt {
    color: black
  }

  /* Data Management Styling */
  .col-7{
   padding-top: 3rem;
  }

  .row{
    padding-top: 1rem;
  }

  .submit-form{
    padding-top: 2rem;
  }

  .col{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  #edit-new{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #edit-save{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #edit-remove{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #passon{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #passoff{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #passthru{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #cargoon{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #cargooff{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #cargothru{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #palleton{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #palletoff{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #palletthru{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #schedto{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #actualto{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #schedland{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  
  #actualland{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  #duration{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #legbtn{
    min-width: 66.5rem;
    max-width: 66.5rem;
    background-color: #d72323;
    color: white;
  }
  #accordionExample{
    min-width: 71.5rem;
    max-width: 71.5rem;
  }
  #data-management{
    margin-top: 3rem;
  }
  #editParameterCard{
    background-color: #303841;
  }
  #addParameterCard{
    background-color: #303841;
  }
  #cancelButton{
    margin-left: 1rem;
  }
  #MRParameters{
    margin-top: 10rem;
  }
  .hidden {position:absolute;visibility:hidden;opacity:0;}
input[type=checkbox] + label {
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    

}
input[type=checkbox] + label:hover{
  background-color: #b6b8b9;
}

input[type=checkbox]:checked + label {
  color: #f00;
  
}